html {
  border: 10px solid black;
}
body {
  background-color: #002d40;
}

.restartBtn {
  text-align: center;
  border: 1px solid black;
  width: 20%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f56a79;
  color: white;
  cursor: pointer;
}

.restartImg {
  width: 15px;
}

.hero-banner {
  margin: 0 auto;
  width: 40%;
}

.hero-banner img {
  height: 500px;
  width: 800px;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.qa {
  display: block;
}

.box {
  background-color: #f56a79;
  margin: 10px;
  height: 50px;
  width: 400px;
  color: white;
  text-align: center;
  transition: 0.3s;
  border-radius: 15px;
}

.box-invis {
  transition: 0.5s;
  opacity: 0;
}

.box:hover {
  background-color: gray;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 400px;
}

.question-text {
  text-align: center;
  color: white;
}

.question-text-desc {
  width: 30%;
  margin: 0 auto;
  background-color: #d9ecf2;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
