html {
}
body {
  background-color: #18286b;
  padding: 10px;
}

.restartBtn {
  text-align: center;
  border: 1px solid black;
  width: 20%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f75bab;
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.restartImg {
  width: 15px;
}

.hero-banner {
  height: 500px;
  width: 40%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero-banner img {
  height: auto;
  width: 100%;
  transition: 0.2s;
  border: 5px solid #8d2ef8;
  min-width: 200px;
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: aqua;
  border-radius: 20px;
  background-color: #492cf6;
  border: 3px solid #8d2ef8;
  margin-top: 20px;
}
.qa {
  display: block;
}

.box {
  background-color: #8d2ef8;
  border: 1px solid white;
  margin: 10px;
  height: 50px;
  width: 400px;
  color: white;
  text-align: center;
  transition: 0.3s;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-invis {
  transition: 0.5s;
  opacity: 0;
}

.box:hover {
  background-color: #563bf3;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 400px;
}

.question-text {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
}

.question-text-desc {
  width: 60%;
  margin: 0 auto;
  background-color: #492cf6;
  color: white;
  border: 3px solid #8d2ef8;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 840px) {
  .hero-banner {
    height: 200px;
  }

  .hero-banner img {
  }

  .boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .box {
    flex-direction: column;
    width: 95%;
  }

  .box:hover {
    flex-direction: column;
    width: 95%;
  }

  .question-text-desc {
    width: 90%;
  }
}
