html {
}
body {
  background-color: #002d40;
}

.restartBtn {
  text-align: center;
  border: 1px solid black;
  width: 20%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f56a79;
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.restartImg {
  width: 15px;
}

.hero-banner {
  height: 500px;
  width: 40%;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.hero-banner img {
  height: auto;
  width: 100%;
  transition: 0.2s;
  border: 5px solid black;
  min-width: 200px;
  max-width: 800px;
  margin: 0 auto;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.qa {
  display: block;
}

.box {
  background-color: #f56a79;
  margin: 10px;
  height: 50px;
  width: 400px;
  color: white;
  text-align: center;
  transition: 0.3s;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.box-invis {
  transition: 0.5s;
  opacity: 0;
}

.box:hover {
  background-color: gray;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 400px;
}

.question-text {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
}

.question-text-desc {
  width: 60%;
  margin: 0 auto;
  background-color: #d9ecf2;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 900px) {
  .hero-banner {
    height: 200px;
  }

  .hero-banner img {
    margin: 0 auto;
  }

  .boxes {
    display: flex;
    flex-direction: column;
  }

  .box {
    flex-direction: column;
  }

  .question-text-desc {
    width: 90%;
  }
}
